<footer class="site-footer">

<div class="icon-links">
  <a href="https://www.linkedin.com/in/blandingr/"><image src="/static/img/linkedin-circle.svg" type="image/svg+xml" class="ico"></a>
  <a href="https://github.com/Hakata-jpn"><img src="/static/img/github-circle.svg" type="image/svg+xml" class="ico"></a>
  <a href="https://www.behance.net/renblanding?tracking_source=search_users_recommended%7Cren%20blanding"><img src="/static/img/behance-circle.svg" type="image/svg+xml" class="ico"></a>
</div>

  <small>
    This Portfolio is based off of <a href="{{ pkg.repository.url }}">Fernfolio</a> by <a href="https://www.tylerroderick.com">Tyler M. Roderick</a>.<br>HTML & CSS edited by yours truly :)
  </small>
</footer>
